{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="content-section mr-5 ml-5 mt-5 mb-5" width="35%">
        <div class="row mr-5 ml-5 mt-5 mb-5">
            <div class="col-8">
                <h2 class="title">About Us</h2>
                <p>DesiOriginals is a marketplace that exhibits and sells local and indigeneous products 
                from passionate and skilled artisans across the country.</p>
                <p>Our aim is to give global exposure to our talented local artisans and workers, and in the process, uplift them.</p>
                <p>Our team: Shreya, Neha, Rasika</p>
            </div>
            <div class="col-4">
                <h2 class="title">Contact Us</h2>
                <p>Have a problem? We're happy to help! Just drop a mail at <span style="color:blue">help@desioriginals.com</span></p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}