{% extends "layout.html" %}
{% block content %}
    <center>
        <h2 class="title">Account Details</h2>
    <div class="content-section" style="width: 50%;">
        <h3 class="account-heading">{{ current_user.name }}</h3>
        <p class="text-secondary">{{ current_user.email }}</p>
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Account Info</legend>
                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}

                    {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.contactno.label(class="form-control-label") }}
                    {% if form.contactno.errors %}
                        {{ form.contactno(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.contactno.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.contactno(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.addr1.label(class="form-control-label") }}
                    {% if form.addr1.errors %}
                        {{ form.addr1(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.addr1.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.addr1(class="form-control form-control-lg") }}
                    {% endif %}
                </div><div class="form-group">
                    {{ form.addr2.label(class="form-control-label") }}
                    {% if form.addr2.errors %}
                        {{ form.addr2(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.addr2.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.addr2(class="form-control form-control-lg") }}
                    {% endif %}
                </div><div class="form-group">
                    {{ form.addr3.label(class="form-control-label") }}
                    {% if form.addr3.errors %}
                        {{ form.addr3(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.addr3.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.addr3(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.pincode.label(class="form-control-label") }}
                    {% if form.pincode.errors %}
                        {{ form.pincode(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.pincode.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.pincode(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.city.label(class="form-control-label") }}
                    {% if form.city.errors %}
                        {{ form.city(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.city.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.city(class="form-control form-control-lg") }}
                    {% endif %}
                </div><div class="form-group">
                    {{ form.state.label(class="form-control-label") }}
                    {% if form.state.errors %}
                        {{ form.state(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.state.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.state(class="form-control form-control-lg") }}
                    {% endif %}
                </div><div class="form-group">
                    {{ form.country.label(class="form-control-label") }}
                    {% if form.country.errors %}
                        {{ form.country(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.country.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.country(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    </center>
{% endblock content%}