{% extends "layout.html" %}
{% block content %}
<center>
    <h2><span class="title">Your Invoice</span></h2>
    <div class="container" style="min-height: 100vh;">
        <div class="row">
            <div class="table-responsive table-condensed table_style ml-5 mr-5">
                <table class="table table-bordered table-striped table-hover">
                    <tbody>
                        <tr>
                            <th>Item Name</th>
                            {% for i in range(length) %}
                                <td>{{ inv[i][2] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>Quantity</th>
                            {% for i in range(length) %}
                                <td>{{ inv[i][3]}}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>Cost</th>
                            {% for i in range(length) %}
                                <td><span class="currency">₹</span>{{ inv[i][4] }}</td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</center>
{% endblock content %}